.top-section{
    position: fixed;
    background-color: black;
    width : 100%;
    top : 0;
    margin-bottom: 0;
    display: flex;
    color: #fff; 
    padding: 5px; 
    text-align: center; 
    column-gap: 75%;
  }
  body{
    background-color: #333;
    padding-bottom : 50px;
  }
  .receiver-1{
    margin-top: 0%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 90%;
    padding-left: 4%;
  
    
  }
  .receiver{
    margin-top: 0.5%;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 90%;
    padding-left: 4%;
  
    
  }
  .name{
    width: 2%;
  }
  
  .send{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    
    padding: 10px;
    
    font-size: 14px;
  }
  .send:hover{
    
    padding: 15px;
   
  }
  .send:active{
    color: #333;
    font-weight: bolder;
    background-color: white;
    border: none;
  }
  
  .cont{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .info{
    background-color: white;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  
  